<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Danh Sach Sinh Vien</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LASTNAME</th>
                    <th>FIRST NAME</th>
                    <th>NAMSINH</th>
                    <th>GIOITINH</th>
                    <th>DIACHI</th>
                    <th>Hanh dong</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% for(let i=0;i < dataSP.length;i++) { %>
                    <td><%=dataSP[i].id%></td>
                    <td><%=dataSP[i].lastname%></td>
                    <td><%=dataSP[i].firstname%></td>
                    <td><%=dataSP[i].namsinh%></td>
                    <td><%=dataSP[i].gioitinh%></td>
                    <td><%=dataSP[i].diachi%></td>
                    <td>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="idsv" class="btn btn-danger" value="<%=dataSP[i].id%>" />
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </form>
                    </td>
                </tr>
                <% } %>


            </tbody>
        </table>
        <a href='/addsp' class="btn btn-success"> Thm san pham</a>
    </div>
</body>

</html>